<!-- Modal pagar recibos de pago -->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Pagar recibo</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="text-align: center;">
      <label>
        <h5>
          Valor: ${{ currentReceipt.valor | number:'1.2' }}
        </h5>
      </label>
    </div>
    <h3>Mis tarjetas</h3>
    <div class="row"
      style="border-top: 1px solid black; background-color: rgba(133, 133, 133, 0.404); padding: 12px; cursor: pointer;">
      <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
        <img src="../../assets/images/Visa icon.svg" style="width: 60px; max-height: 16px;" alt="Tarjeta Visa">
      </div>
      <div class="col-8" style="display: flex; justify-content: start; align-items: center;">
        <h3 style="margin-left: 10px;">**** **** **** 4679</h3>
      </div>
      <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
        <input type="checkbox" [checked]="true" [disabled]="true">
      </div>
    </div>
    <div class="row"
      style="border-top: 1px solid black;border-bottom: 1px solid black; padding: 12px; cursor: pointer;">
      <div class="col-2" style="display: flex; justify-content: center; align-items: center;">
        <img src="../../assets/images/add.png" style="height: 16px;" alt="Añadir">
      </div>
      <div class="col-8" style="display: flex; justify-content: center; align-items: center;">
        <h3 style="margin-left: 10px;">Añadir nueva tarjeta</h3>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('no')">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="modal.close('yes')">Aceptar</button>
  </div>
</ng-template>
<div class="breadcrumb-class" style="border: 0px;">
  <h2>Mis recibos de pago</h2><br>
  <div class="row recibo" *ngFor="let receipt of lstReceipts;let i=index">
    <div class="col-5">
      <div class="row">
        <div class="col-6" style="margin-top: 5px;">
          <h4>Ref. {{ receipt.id }}</h4>
        </div>
        <div class="col-6" style="justify-content: start; display: flex;">
          <div *ngIf="receipt.estado.toLowerCase() === 'pagado'" class="payment-status pagado">
            PAGADO
          </div>
          <div *ngIf="receipt.estado.toLowerCase() === 'enproceso'" class="payment-status en-proceso">
            EN PROCESO
          </div>
          <div *ngIf="receipt.estado.toLowerCase() === 'pendiente'" class="payment-status pendiente">
            PENDIENTE
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-4">
          <h5>Pago {{ i+1 }} / {{ lstReceipts.length }}</h5>
        </div>
        <div class="col-8" style="justify-content: center; display: flex;">
          <h5>Periodo Académico {{ receipt.anno }}-{{ receipt.periodo }}</h5>
        </div>
      </div>
    </div>
    <div class="col-4" style="border-right: 1px solid black; padding-right: 20px;">
      <div class="row">
        <div class="col-8">
          <h5>Fecha pago oportuno:</h5>
        </div>
        <div class="col-4">
          <h5>{{ receipt.fechaPago | date:'dd/MM/yyyy' }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <h6 style="text-align: end;">Valor:</h6>
        </div>
        <div class="col-4">
          <h6 style="text-align: end;">${{ receipt.valor | number:'1.2' }}</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <h5>Fecha pago extémporaneo:</h5>
        </div>
        <div class="col-4">
          <h5>{{ receipt.fechaPagoExtemporaneo | date:'dd/MM/yyyy' }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <h6 style="text-align: end;">Valor:</h6>
        </div>
        <div class="col-4">
          <h6 style="text-align: end;">${{ (receipt.valor * ((receipt.porcentajeMora/100)+1)) | number:'1.2' }}</h6>
        </div>
      </div>
      <div class="row" *ngIf="receipt.fechaPagoExitoso !== undefined && receipt.estado.toLowerCase() !== 'pendiente'">
        <div class="col-8">
          <h5><strong>Fecha pago <span *ngIf="receipt.estado.toLowerCase() === 'pagado'">exitoso</span>:</strong></h5>
        </div>
        <div class="col-4">
          <h5>{{ receipt.fechaPagoExitoso | date:'dd/MM/yyyy' }}</h5>
        </div>
      </div>
    </div>
    <div class="col-3" style="display: flex; justify-content: center; align-items: center;">
      <button class="btn btn-primary" (click)="printReceipt(i)">Descargar</button>
      <button *ngIf="receipt.estado.toLowerCase() === 'pendiente'" class="btn btn-warning" style="margin-left: 10px;"
        (click)="payReceipt(i,mymodal)">Pagar</button>
    </div>
  </div>
</div>