.recibo {
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  background-color: rgba(95, 158, 160, 0.342);
}

.payment-status {
  padding: 0px 12px 0px 12px;
  border-radius: 15px;
  color: black;
}

.payment-status.pagado {
  background-color: #94b43b;
  transform: scale(1.3);
}

.payment-status.pendiente {
  background-color: #5b5b5b;
  transform: scale(1.3);
}

.payment-status.en-proceso {
  background-color: #0166d4;
  transform: scale(1.3);
}
