<div class="breadcrumb-class" style="border: 0px;">
  <h1>Sistema de Información Académica</h1>
  <br><br>
  <div class="row" style="justify-content: center;">
    <div class="col-5" style="text-align: center;">
      <h3>Iniciar Sesión</h3>
      <form [formGroup]="logInForm" (ngSubmit)="submit()">
        <input type="text" formControlName="nombre_usuario" placeholder="Usuario" style="width: 50%; margin: 10px;"><br>
        <input type="password" formControlName="contrasena" placeholder="Contraseña"
          style="width: 50%; margin: 10px;"><br>

        <button class="button" type="submit" style="margin: 30px;">Ingresar</button>
      </form>
    </div>
  </div>
  <div class="row" style="justify-content: end;">
    <a (click)="resetSession()"><small style="color: red; cursor: pointer;">reset</small></a>
  </div>
</div>